@(user: User)
<div class="accordion" id="accordionSB">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSB" href="#dashboardsb">
				<i class="icon-large icon-th-large head_icon"></i> Dashboard
			</a>
		</div>
		<div id="dashboardsb" class="accordion-body ">
			<div class="accordion-inner">
				<ul class="nav nav-list">
					<li><a href="@routes.Dashboard.index"><i class="icon-large icon-eye-open"></i> Dashboard</a></li>
					<li><a href="#"><i class="icon-large icon-align-left"></i> Statistics</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
