	<footer>
		<div class="modal-footer">
			<small>
				<strong>NoxST Security Systems</strong><br>
				666 Rhino Ave, Suite 456<br>
				San José, CA 94107<br>
				<abbr title="Phone">P:</abbr> (123) 456-7890
			</small>
		</div>
	</footer>
	<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("js/noxccc.js")" type="text/javascript"></script>
</body>
</html>	