<!-- Device Commands -->
<div class="modal hide fade info" tabindex="-1" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Device «<%=device%>»</h3>
  </div>
  <div class="modal-body">
    <div class="basic-info">
	<h4>Basic Info</h4>
	<div class="data">
		<table class="table table-condensed table-bordered table-striped">
			<tbody>
				<tr>
					<td class="tlabel"><b>Manufacturer</b></td>
					<td>Texas Instruments</td>
				</tr>
				<tr>
					<td class="tlabel"><b>Model</b></td>
					<td>TI-KD234-L</td>
				</tr>
				<tr>
					<td class="tlabel"><b>Serial Number</b></td>
					<td>2398479238472-X</td>
				</tr>
				<tr>
					<td class="tlabel"><b>Uptime</b></td>
					<td>34 days and 23 hours</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="mini-map">Mini map</div>
</div>

<div class="extended-info">
	<table class="table table-condensed table-bordered table-striped">
		<caption>Extended info</caption>
		<thead>
			<tr>
				<th class="attribute">Attribute</th>
				<th class="setting">Setting</th>
			</tr>
		</thead>
		<tbody>
			<% 
				var props = data.objs;
				var keys = [];
				for(var k in props) {
					keys.push(k);
				}
				keys = keys.sort();
				for(var k in keys) {
			%>
			<tr>
				<td><em><%=keys[k]%></em></td>
				<td><%=props[keys[k]]%></td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
