@(deviceId:String)

<div class="basic-info">
	<h4>Basic Info</h4>
	<div class="data">
		<table class="table table-condensed table-bordered table-striped">
			<tbody>
				<tr>
					<td class="tlabel"><b>Manufacturer</b></td>
					<td>Texas Instruments</td>
				</tr>
				<tr>
					<td class="tlabel"><b>Model</b></td>
					<td>TI-KD234-L</td>
				</tr>
				<tr>
					<td class="tlabel"><b>Serial Number</b></td>
					<td>2398479238472-X</td>
				</tr>
				<tr>
					<td class="tlabel"><b>Uptime</b></td>
					<td>34 days and 23 hours</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="mini-map">Mini map</div>
</div>

<div class="available-commands">
	<table class="table table-condensed table-bordered table-striped">
		<caption>Available commands</caption>
		<thead>
			<tr>
				<th>Command</th>
				<th colspan="2">Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><em>Reset</em></td>
				<td>Reset the device.</td>
				<td><button class="btn btn-mini btn-danger command" data-command-name="RESET" data-command-confirm="true">Execute</button></td>
			</tr>
			<tr>
				<td><em>Power Off</em></td>
				<td>Switch off the device.</td>
				<td><button class="btn btn-mini btn-danger command" data-command-name="POWEROFF" data-command-confirm="true">Execute</button></td>
			</tr>
			<tr>
				<td><em>Activate Out 1</em></td>
				<td>Activate the output line no. 1</td>
				<td><button class="btn btn-mini command" data-command-name="OUT1_ACTIVATE">Execute</button></td>
			</tr>
			<tr>
				<td><em>Deactivate Out 1</em></td>
				<td>Deactivate the output line no. 1</td>
				<td><button class="btn btn-mini command" data-command-name="OUT1_DEACTIVATE">Execute</button></td>
			</tr>
			<tr>
				<td><em>Deactivate «Panic»</em></td>
				<td>Deactivate the panic status</td>
				<td><button class="btn btn-mini command" data-command-name="DEACTIVATE_PANIC">Execute</button></td>
			</tr>

			<tr>
				<td><em>Start recording</em></td>
				<td>Start local video stream recording</td>
				<td><button class="btn btn-mini command" data-command-name="CHANNEL_START">Start</button></td>
			</tr>
			<tr>
				<td><em>Stop recording</em></td>
				<td>Stop local video stream recording</td>
				<td><button class="btn btn-mini btn-danger command" data-command-name="CHANNEL_STOP">Stop</button></td>
			</tr>

			<tr>
				<td><em>Start live streaming</em></td>
				<td>Start local video stream recording</td>
				<td><button class="btn btn-mini command" data-command-name="LIVESTREAM_START">Start</button></td>
			</tr>
			<tr>
				<td><em>Stop live streaming</em></td>
				<td>Stop local video stream recording</td>
				<td><button class="btn btn-mini btn-danger command" data-command-name="LIVESTREAM_STOP">Stop</button></td>
			</tr>
		
		</tbody>
	</table>
</div>
