@(user: UserTrait)


@header_more = {}

@footer_scripts = {
<script type='text/javascript'>
	steal('/assets/webapp/webapp_init.js')
	.then('/assets/webapp/device/device.js')
	.then('/assets/DataTables-1.9.4/media/js/jquery.dataTables.min.js')
	.then('/assets/javascripts/DataTableBootstrap/main.js')
	.then('/assets/javascripts/DataTableBootstrap/devices.js').
	then('/assets/javascripts/jquery-ui-1.10.3.custom.min.js');
</script>
}

@aria.master.authenticated("Devices", user, footer_more = footer_scripts) {
	<div class="ana-devices">
	<h1>Devices</h1>
	
	<div class="alert_placeholder"></div>

	<table class="table table-condensed table-bordered table-hover" cellpadding="0" cellspacing="0" border="0" id="device">
	</table>
	</div>
}