<div class="switch <%=value%> editable<%=editable%>">
	<input type="checkbox" value="1" id="<%=id%>input" class="checkbox" checked />
	<div class="bg bgOn">ON</div>
	<div class="bg bgOff">OFF</div>
	<div class="slider"></div>
</div>