
	<td>
		<a class="devicename" name="<%=device%>"><%=device%></a>
	</td>
	<td>
		<a class="tool" data-original-title="" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Position">
			<span class="label label-info counter" >1</span>
		</a>
	</td>	
	<td>
		<span class="speed"><%=data.speed%>Km/h</span>
	</td>
	<td>
		<a class="btn btn-mini more" type="button" href="#"><i class="icon-info-sign"></i></a>
		
		<% if (show_tools) { %>
		<a class="btn btn-mini settings" type="button" href="#"><i class="icon-wrench"></i></a>
		<% } %>
		<%
			if (show_webcam && webcams != undefined) {
				if (webcams.length > 0) {
		%>
					<a class="btn btn-mini webcam" type="button" href="#"><i class="icon-facetime-video"></i></a>
		<%
				}
			}
		%>
		<a class="tool" data-original-title="" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Command queue">
			<span class="label event-command-counter" style="visibility: hidden">0/0</span>
		</a>				
		<div class="anchorInfo"></div>
	</td>
	
	<td>
		<span>a111</span>
	</td>
	<td class="collapse">
		<span>a222</span>
	</td>
	<td>
		<span>b111</span>
	</td>
	<td class="collapse">
		<span>c111</span>
	</td>

	<td></td> <!-- action table -->



