
	<td><%=device%></td>
	<td></td>
	<td>Device</td>
	<td>
		<a class="tool" data-original-title="" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Position">
			<span class="label label-info event-position-counter" >1</span></a>
	</td>
	<td><%=data.objs.ignition%></td>
	<td>Moving</td>
	<td><%=data.speed%></td>
	<td><a class="btn btn-mini more" type="button" href="#"><i class="icon-info-sign"></i></a>
		<a class="btn btn-mini settings" type="button" href="#"><i class="icon-wrench"></i></a>					
		<div class="anchorInfo"></div>
	</td>



