
<div class="ana-devices">
<h1>Vehicle assignements</h1>

<table class="table table-condensed table-bordered table-striped">
	<thead>
		<tr>
			<th>Assignement ID</th>
			<th>Vehicle ID</th>
			<th>Driver ID</th>
			<th>Begin Assignement</th>
			<th>End Assignement</th>
			<th>Enabled</th>
			<th width="1%"></th>
		</tr>
	</thead>
	<tbody>
	<%for(i in assignements) {%>
		<tr <%=plugin('webapp_vehicle_assignements_row', assignements[i])%>></tr>	
	<%}%>
	</tbody>
</table>
<button class="btn btn-primary create">Create new vehicle assignment</button>
</div>