<!-- Device Commands -->
<div class="modal hide fade info" tabindex="-1" aria-hidden="true">
	<div class="modal-header">
	  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  	<h3>Webcam «<%= deviceName %>»</h3>
	</div>
	<div class="alerts"></div>
	<div class="modal-body">
		<div class="containerWebcam">
			<% for(i in webcams) { %>
				<div class="webcam" <%= plugin('webapp_webcam', { 'id' : webcams[i].id , 'device': deviceName, 'width' : width , 'height' : height , 'file' : webcams[i].file }) %>>
					
				</div>
		    <% } %>
		</div>
	</div>
	<div class="modal-footer">
	  	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>
