@(drivers: Seq[DriverPersisted], user: UserTrait)

@header_more = {}

@footer_scripts = {
<script type='text/javascript'>
            steal('/assets/webapp/webapp_init.js')
            .then('/assets/webapp/driver/driver.js')
            .then(function() {
			$("#create_driver").click(function() {
				var $el = $("<div></div>")
				$('body').append($el);
				$el.webapp_driver();
			});

				$(".btn-edit").click(function(el, ev) {
					var options = {};
					options["id"] = $(this).attr("data-driver-id");
					var $el = $("<div></div>");
				$('body').append($el);
				$el.webapp_driver(options);
				});

				$(".btn-delete").click(function(el, ev) {
					var id = $(this).attr("data-driver-id");
					jsRoutes.controllers.Driver.delete(id)
						.ajax()
						.done(function(data, txtStatus, jqXHR) {
							location.reload(true);
						})
						.fail(function(data, txtStatus, jqXHR) {
							var $alert= $("<div class='alert alert-block alert-error'><button type='button' class='close' data-dismiss='alert'>×</button><h4 class='alert-heading'>An error occurred</h4><p>"+data.responseText+"</p></div>");
							self.find(".alert_placeholder").html($alert);
						});
				});
            });
</script>
}

@aria.master.authenticated("Drivers", user, footer_more = footer_scripts) {
	<div class="ana-devices">
	<h1>Drivers</h1>
	
	<div class="alert_placeholder"></div>

	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>Driver ID</th>
				<th>Name</th>
				<th>Surame</th>
				<th>Display Name</th>
				<th>Enabled</th>
				<th width="1%"></th>
			</tr>
		</thead>
		<tbody>
		@drivers.map { v =>
			<tr>
				<td>@v.id</td>
				<td>@v.name</td>
				<td>@v.surname</td>
				<td>@v.displayName</td>
				<td><div class="switch">
					<input type="checkbox" @if(v.enabled){
						checked
					} disabled >
					</div>
				</td>
				<td>
					<nobr>					
					    <div class="btn-group">
						    <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
						    	Actions
						    	<span class="caret"></span>
						    </a>
						    <ul class="dropdown-menu pull-right">
						    	<li><a tabindex="-1" href="#" class="btn-edit" data-driver-id="@v.id">Edit</a></li>
						    	<li><a tabindex="-1" href="#" class="btn-delete" data-driver-id="@v.id">Delete</a></li>
						    </ul>
					    </div>
					</nobr>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<button class="btn btn-primary" id="create_driver">Create new driver</button>
	</div>
}

