@(user: UserTrait)

@header_more = {}

@footer_scripts = {
<script type='text/javascript'>
	steal('/assets/webapp/webapp_init.js')
	.then('/assets/webapp/simcard/simcard.js')
	.then('/assets/javascripts/jquery-ui-1.10.3.custom.min.js')
	.then('/assets/DataTables-1.9.4/media/js/jquery.dataTables.min.js')
	.then('/assets/javascripts/DataTableBootstrap/main.js')
	.then('/assets/javascripts/DataTableBootstrap/simcards.js');
</script>
}

@aria.master.authenticated("simcards", user, footer_more = footer_scripts) {
	<div class="ana-devices">
	<h1>Simcards</h1>
	
	<div class="alert_placeholder"></div>

		<table class="table table-condensed table-bordered table-striped" id="simcards">
		</table>

	</div>
}