<div class="containerChannels">
	<div class="inputDevices">
		<input type="text" class="device_name" data-provide="typeahead" data-source='<%= devicesarray %>' placeholder="device name" value ="dev_0" />
	
		<div id="datetimepicker" class="input-append date">
			<input type="text" data-format="yyyy-MM-dd hh:mm:ss" class="date_time" placeholder="2013-10-11T19:23:30" value="2013-10-11T19:23:30" />
			<span class="add-on">
		      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
		      </i>
		    </span>
	    </div>
	
		<!--
		<div class="btn-group">
		    <a class="btn speed1x">1x</a>
		    <a class="btn dropdown-toggle" data-toggle="dropdown">
		    	<span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		    	<li><a href="javascript: void(0);">2x</a></li>
		    	<li><a href="javascript: void(0);">4x</a></li>
		    </ul>
	    </div>
	    -->
	    <a class="btn btn-small playback">Playback</a>
	</div>
	
</div>




