@(message: String)

@master.public("Login") {

<div class="hero-unit">
	<h1>NoxST :: CCC</h1>
	<p class="lead">Command and Control Centre</p>

	<form name="login" class="form-inline" onsubmit="javascript:return doSimulateLogin();">
		<input type="text" id="username" placeholder="username">
		<input type="password" id="password" class="input-small" placeholder="password">
		<button type="submit" class="btn btn-primary">Log in</button>
	</form>


<script type="text/javascript">

	function doSimulateLogin(){
		var username = document.getElementById('username').value;
		var password = document.getElementById('password').value;
		
		if(username == 'admin' && password == 'admin'){
			document.forms['login'].action="@routes.Map.index";
			document.forms['login'].submit();
			return true;
		}
		
		else{
			alert('Access Denied');
			return false;
			
		}
		
	}
	
	

</script>
	
</div>

<pre>@message</pre>
}