@(channel: String)


@header_more = {}

@footer_scripts = {
<script type='text/javascript'>
            steal('/assets/webapp/webapp_init.js')
            .then('/assets/webapp/channels/channels.js',
                  '/assets/webapp/settings/settings.js',
                  '/assets/webapp/table/table.js',
                  '/assets/webapp/fixtures/fixtures.js',
                  '/assets/webapp/webapp.less',
                  '/assets/webapp/wslistner/wslistner.js',
                  '/assets/webapp/map/map.js',
                  '/assets/webapp/lastdevice_info/lastdevice_info.js'
                  )
            .then(function() {
            		var wslistner = new webapp.wslistner(window);
            		
                    //$('#channels').webapp_channels();
                    $('#devices').webapp_table();
                    
                    var resizeMapArea = function(){
                    	$('.page-container').height(
                    		$('body').height() - 
                    		$('.navbar').height() -
                    		$('.page-footer').height()
                    	);
                    }; 
                    
                    $(window).resize(resizeMapArea);
                    
                    resizeMapArea();
                    
                    var map_opts = {
                    	autoposition: false, 
                    	coords:{
                    		latitude: 45.4773,
                    		longitude: 9.1815
						},
						cloudmadeAppKey : "e7848c2072dc4807bd7b06877dcd872a",
						markerChannel: Aria.Page.getInstance().getChannelByName("map")
					};
                    
                    $("#map").webapp_map(map_opts);

                    var WS_Channel = Aria.Page.getInstance().getChannelByName("WS_EVENTS");
                    WS_Channel.subscribeOne("socket_ready", function() {
                        WS_Channel.trigger("new_topic", {topic: "@channel"});
                    });


            });
</script>
}

@aria.master.public("Realtime Map", header_more = header_more, footer_more = footer_scripts) {
<div id='map' class="map fullscreen">
</div>
<div class='devices_table' style="">
    <div>
        <div id='settings'></div>
        <div id='channels'></div>
    </div>
    <div id='devices'></div>
</div>
}