@(user: UserTrait)


@header_more = {}

@footer_scripts = {
<script type='text/javascript'>
            steal('/assets/webapp/webapp_init.js')
            .then('/assets/webapp/wshistorical_selector/wshistorical_selector.js',
                  '/assets/webapp/settings/settings.js',
                  '/assets/webapp/table/table.js',
                  '/assets/webapp/fixtures/fixtures.js',
                  '/assets/webapp/webapp.less',
                  '/assets/webapp/wshistorical/wshistorical.js',
                  '/assets/webapp/map/map.js',
                  '/assets/webapp/lastdevice_info/lastdevice_info.js'
                  )
            .then(function() {
            		var wslistner = new webapp.wshistorical(window);
            		
                    $('#device_selector').webapp_wshistorical_selector();
                    $('#devices').webapp_table({show_webcam: false, show_tools: false});
                    $('#device_info').webapp_lastdevice_info();
                    
                    var resizeMapArea = function(){
                    	$('.page-container').height(
                    		$('body').height() - 
                    		$('.navbar').height() -
                    		$('.page-footer').height()
                    	);
                    }; 
                    
                    $(window).resize(resizeMapArea);
                    
                    resizeMapArea();
                    
                    var map_opts = {
                    	autoposition: false, 
                    	coords:{
                    		latitude: -20.308891, 
                    		longitude: -40.301285
						},
						cloudmadeAppKey : "e7848c2072dc4807bd7b06877dcd872a",
						markerChannel: Aria.Page.getInstance().getChannelByName("map")
					};
                    
                    $("#map").webapp_map(map_opts);
            });
</script>
}

@aria.master.authenticated("Realtime Map", user, header_more = header_more, footer_more = footer_scripts) {
<div id='map' class="map fullscreen">
<div id='device_info'></div>
</div>
<div class='devices_table' style="">
    <div>
        <div id='settings'></div>
        <div id='device_selector'></div>
    </div>
    <div id='devices'></div>
    
</div>

}