@()

@aria.master.authenticated("Realtime Map") {

<script type="text/javascript">
var MQTT_BROKER_URI = '@config.getString("nox.ccc.events_ws_uri")';
</script>
	
<script type="text/javascript" src="/assets/javascripts/socket.io.js"></script>
<script type="text/javascript" src="/assets/javascripts/jquery-1.7.1.min.js"></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript" src="/assets/js/realtime_map/date.Format.js"></script>
<script type="text/javascript" src="/assets/js/realtime_map/global.js"></script>
<script type="text/javascript" src="/assets/js/realtime_map/init_map.js"></script>
<script type="text/javascript" src="/assets/js/realtime_map/init_listener.js"></script>

    
<script type="text/javascript">
   
function init() {
	
	init_map();
	init_listner();
}

</script>

  <div style="width: auto; font-size: 45px; line-height: 45px; text-align: center; vertical-align: middle; clear: both; margin-bottom: 50px;"> 
  	Real Time Tracking Devices
  	<br>
  </div> 

<div id="basicMap" style="float: left; width:900px; height:750px;"></div>


<div class="content span8 logReport" style="width: 580px; position: relative; height: 750px; padding-left: 10px; overflow: hidden; width: auto;">
	<div style="width: auto; font-size: 18px; line-height: 25px; height: 25px; text-align: left; vertical-align: middle;">
    	Device Groups
    </div>
    
     <div class="input-append">
       <input type="text" class="span3" id="topicSearchText">
       <button class="btn" id="setTopic">Subscribe</button>
     </div>

     <div class="input-append">
       <input type="text" class="span3" id="deviceIdText" value="4310516">
       <input type="text" class="span3" id="CommandText" value="OUT1_ACTIVATE">
       <button class="btn" id="sendCommand">Send Sample Command</button>
     </div>
   	
   	<div id="deviceDetailsBox" style="width: 500px; height: 600px; background-color: #FFFFFF; border: 2px solid #CCCCCC; position: absolute; z-index: 10000; display: none;">
   	 		<div class="boxHeader" style="width: auto; height: 25px;">
   			<input type="button" value="close" style="float: right; margin-right: 10px; height: 25px; font-size: 12px; line-height: 25px; vertical-align: middle;" onclick="closeDeviceDetailsBox();" />
   		</div>
   		<div class="content" style="width: auto; height: 600px;">
   			
   		</div>
  
   	</div>
   	
    <table class="table table-bordered table-condensed table-striped table-hover span6" id="devices" style="width: 100%; margin: 0;">
      <thead>
        <tr style="height: 20px;">
          <th style="font-size: 12px;height: 100%;line-height: 20px; vertical-align: middle; font-weight: normal;">#</th>
          
          <th style="font-size: 12px;height: 100%;line-height: 20px; vertical-align: middle; font-weight: normal;">
              Device
          </th>
		  <th style="font-size: 12px;height: 100%;line-height: 20px; vertical-align: middle; font-weight: normal;">
             Session Start
          </th>
          <th style="font-size: 12px;height: 100%;line-height: 20px; vertical-align: middle; font-weight: normal;">
          	#Msg
          </th>
          <th style="font-size: 12px;height: 100%;line-height: 20px; vertical-align: middle; font-weight: normal;">
          	Rate(msg/s)
          </th>
			<th style="font-size: 12px;height: 100%;line-height: 20px; vertical-align: middle; font-weight: normal;">
          	LastAt
          </th>
           <th style="font-size: 12px;height: 100%;line-height: 20px; vertical-align: middle; font-weight: normal;">
          	LastPosition
          </th>
		   <th style="font-size: 12px;height: 100%;line-height: 20px; vertical-align: middle; font-weight: normal;">
          	LastDeviceTime
          </th>
          <th style="font-size: 12px;height: 100%;line-height: 20px; vertical-align: middle; font-weight: normal;">
          	Delay(s)
          </th>
		  <th style="font-size: 12px;height: 100%;line-height: 20px; vertical-align: middle; font-weight: normal;">
          	Resulting Speed(m/s)
          </th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
   </div>

    
    
	 
<script type="text/javascript">
jQuery(document).ready(function() {
	init();	
   });


$('button#setTopic').bind('click', 
		function(event){
			event.stopPropagation();
			event.preventDefault();
			if($.trim($(event.target).siblings('input#topicSearchText').val()).length > 0)
			{
				subscribe($(event.target).siblings('input#topicSearchText').val());				
			}
				
		});
		

$('button#sendCommand').bind('click', 
		function(event){
			event.stopPropagation();
			event.preventDefault();
			if($.trim($(event.target).siblings('input#deviceIdText').val()).length > 0 && $.trim($(event.target).siblings('input#CommandText').val()).length > 0)
			{
				sendCommand($(event.target).siblings('input#deviceIdText').val(), $(event.target).siblings('input#CommandText').val());				
			}
				
		});

</script>


}