<div class="popover fade left in" id="<%= id %>">
	<h3 class="popover-title"><%= title %><button aria-hidden="true" data-dismiss="popover" class="close" type="button">×</button></h3>
	<div class="popover-content">
		<div class="general">
			<%= general %>
		</div>
		<div>
			<a class="btn btn-danger btn-small restart" type="button" href="#"><i class="icon-refresh icon-white"></i>Restart</a>
			<a class="btn btn-danger btn-small shutdown" type="button" href="#"><i class="icon-off icon-white"></i>Shutdown</a>
		</div>
		<div>
			Settings <a class="repeat" href="#"><i class="icon-repeat"></i></a>
		</div>
		<div class="popup-body" id="popupBody" <%= plugin('webapp_table', { 'id' : table.id , 'labels' : table.labels , 'values' : table.values } ) %>>
		
		</div>
		<div>
			<a class="btn btn-small cancel" type="button" href="#">Cancel</a>
			<a class="btn btn-small save" type="button" href="#">Save</a>
		</div>
	</div>
</div>