.webapp_popup .popover { display:block !important; right:0px !important; }
.webapp_popup .general { min-height:50px; border:1px solid #EBEBEB; text-align:center; }
.webapp_popup .btn { width:39%; margin:10px 0px 5px 0px; }