<table class="" style="border: solid 1px" id="tbl<%= id %>">
	<thead>
		<tr>
			<th>col1</th>
			<th>col1</th>
			<th>col1</th>
			<th>col1</th>
			<th>col1</th>
			<th>col1</th>
			<th>col1</th>
			<th>col1</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="8" style="align: center">xsdkfjlsdkjflsdkfjsdlfkjsdlkfjsdlkfjsdlkfjsldkjflskdj</td>
		</tr>
	</tbody>
</table>