<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th><i class="icon-list updown"></i> #</th>
			<th>Events</th>
			<th>Speed</th>
			<th></th>
			<th>a</th>
			<th class="collapse">a_hidden</th>
			<th>b</th>
			<th class="collapse">c_hidden</th>

			<th><i class="icon-arrow-right leftright"></i></th>
		</tr>
	</thead>
	<tbody>
		<tr class="noresults"><td colspan="8">No Results</td></tr>
	</tbody>
</table>