<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th style="width: 6em;"><i style="cursor:pointer;" class="updown icon-arrow-up"></i></th>
			<th style="width: 5em">Events</th>
			<th style="width: 5em">Speed</th>
			<th style="width: 5em">Led On</th>
			<th style="width: 6em">Led Backup</th>
			<th style="width: 6em">G Force</th>
			<th style="width: 6em">YPR</th>
			<th style="width: 6em" class="collapse">Sessionstart</th>
			<th style="width: 5em" class="collapse">Frequency</th>
			<th style="width: 5em" class="collapse">Delay</th>
			<th style="width: 100%"><i style="cursor:pointer;float:right;" class="leftright closeColumns icon-plus"></i></th>


			<!--<th><i class="icon-list updown"><i class="icon-arrow-right leftright"></i></th>-->
		</tr>
	</thead>
	<tbody>
		<tr class="noresults"><td colspan="7">No Results</td></tr>
	</tbody>
</table>