<ul class="nav" role="navigation">
	<li class="dropdown">
		<% for(i in menu) {%>
			<a data-toggle="dropdown" class="dropdown-toggle" role="button" id="drop<%= menu[i].button.label %>" href="#">
				<% if ((menu[i].button.icon != null) && (menu[i].button.icon != "")) { %>
					<i class="icon-globe icon-white"></i>
				<% } %>
				menu[i].button.label
				<% if (menu[i].button.sub.length > 0) { %>
					<b class="caret"></b>
				<% } %>
			</a>
			<% if ((menu[i].button.sub != null) && (menu[i].button.sub.length > 0)) { %>
				<ul aria-labelledby="drop2" role="menu" class="dropdown-menu">
					<% for(x in menu[i].button.sub) {
						switch (coloumns[y].renderAs) {
							case "text" : %>
								<li><a href="<%= menu[i].button.sub[x].button.uri %>" tabindex="-1"><%= menu[i].button.sub[x].button.label %></a></li>
							<% break;
							case "divider" : %>
								<li class="divider"></li>
							<% break;
						}
					} %>
				</ul>
			<% }
		} %>
	</li>
</ul>		