@(user: UserTrait)


@header_more = {}

@footer_scripts = {
<script type='text/javascript'>
	steal('/assets/webapp/webapp_init.js')
	.then('/assets/webapp/vehicles/vehicles.js')
	.then('/assets/javascripts/jquery-ui-1.10.3.custom.min.js')
	.then('/assets/DataTables-1.9.4/media/js/jquery.dataTables.min.js')
	.then('/assets/javascripts/DataTableBootstrap/main.js')
	.then('/assets/javascripts/DataTableBootstrap/vehicles.js');
</script>
}

@aria.master.authenticated("Vehicles", user, footer_more = footer_scripts) {
	<div class="ana-devices">
	<h1>Vehicles</h1>
	
	<div class="alert_placeholder"></div>

		<table class="table table-condensed table-bordered table-hover" id="vehicles">
		</table>
	
	</div>
}