<div class="containerChannels">
	<div class="inputChannels">
		<input type="text" placeholder="channel" class="channel_name">
		<ul class="ulChannels dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			<li class="channelItem" id="noresults"><a tabindex="-1" href="javascript: void(0);">No results</a></li>
			<%
				for (i = 0; i < channels.length; i++) {
					if (channels[0] == "error") {
			%>
						<li class="channelItem visible" id="error"><a tabindex="-1" href="javascript: void(0);">Error</a></li>
			<%
					}
					else {
			
						
			%>
						<li class="channelItem webapp_items" id="<%=channels[i]%>">
						<a class="webapp_items" tabindex="-1" href="javascript: void(0);" data-channel-id="<%=channels[i]%>"><%=channels[i]%></a>
						</li>
			<%
					}
				}
			%>
		</ul>
	</div>
	<div id="buttonChannels">
		<div class="btn-group">
		    <a class="btn btn-small subscribeOne">Subscribe</a>
		    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown">
		    	<span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		    	<li><a id="subscribeAll" href="javascript: void(0);">Subscribe all events</a></li>
		    </ul>
	    </div>
	</div>
	<div class="alert alert-block alert-error">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    The channel's name is uncorrect.
    </div>
</div>




