<div class="containerChannels">
	<div class="inputChannels">
			<input type="text" class="channel_name" autofocus/>
	</div>
	<div id="buttonChannels">
		<div class="btn-group">
		    <a class="btn btn-small subscribeOne">Subscribe</a>
		    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown">
		    	<span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		    	<li><a id="subscribeAll" href="javascript: void(0);">Subscribe all events</a></li>
		    </ul>
	    </div>
	</div>
	<div class="alert alert-block alert-error">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    The channel's name is uncorrect.
    </div>
</div>




