@(groups: Seq[DeviceGroupPersisted])

@header_more = {}

@footer_scripts = {
<script type='text/javascript'>
            steal('/assets/webapp/webapp_init.js')
            .then('/assets/webapp/devicegroups/devicegroups.js')
            .then(function() {
			$("#create_device").click(
				function() {
				var $el = $("<div></div>")
				$('body').append($el);
				$el.webapp_devicegroups();
				}
			);

				$(".btn.modify").click(function(el, ev) {
					var options = {};
					options["id"] = $(this).attr("data-device-id");
					var $el = $("<div></div>");
				$('body').append($el);
				$el.webapp_devicegroups(options);
				});

				$(".btn.delete").click(function(el, ev) {
					var id = $(this).attr("data-device-id");
					$.ajax({
						url: '/device_group/'+id,
						type: 'DELETE'
						})
					.done(function(data, txtStatus, jqXHR) {
						location.reload(true);
					})
					.fail(function(data, txtStatus, jqXHR) {
						//var $alert= $("<div class='alert alert-block alert-error'><button type='button' class='close' data-dismiss='alert'>×</button><h4 class='alert-heading'>An error occurred</h4><p>"+data.responseText+"</p></div>");
						//self.find(".alert_placeholder").html($alert);

						alert(data.responseText);
					});
				});
            });
</script>
}

@aria.master.authenticated("Device groups", header_more = header_more, footer_more = footer_scripts) {

<div class="ana-devices groups">
	<h1>Device groups</h1>

	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>Groups ID</th>
				<th>Name</th>
				<th>Display Name</th>
				<th>Description</th>
				<th>Enabled</th>
				<th width="1%"></th>
			</tr>
		</thead>
		<tbody>
		@groups.map { g =>
			<tr>
				<td>@g.id</td>
				<td>@g.name</td>
				<td>@g.displayName</td>
				<td>@g.description</td>
				<td>@g.enabled</td>
				<td>
				<nobr>
					<button class="btn btn-mini modify" data-device-id="@g.id">Modify</button>
					<button class="btn btn-mini btn-danger delete" data-device-id="@g.id">Delete</button>
				</nobr>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<button class="btn btn-primary" id="create_device">Create new device group</button>
	</div>

}