@(groups: Seq[DeviceGroupPersisted], user: UserTrait)

@header_more = {}

@footer_scripts = {
<script type='text/javascript'>
	steal('/assets/webapp/webapp_init.js')
	.then('/assets/webapp/devicegroups/devicegroups.js')
	.then('/assets/webapp/menu/menu.js')
	.then(function() {
		$("#create_device").click(function() {
			var $el = $("<div></div>")
			$('body').append($el);
			$el.webapp_devicegroups();
		});

		$(".btn.modify").click(function(el, ev) {
			var options = {};
			options["id"] = $(this).attr("data-device-id");
			var $el = $("<div></div>");
			$('body').append($el);
			$el.webapp_devicegroups(options);
		});
		
		$(".btn.delete").click(function(el, ev) {
			var id = $(this).attr("data-device-id");
			jsRoutes.controllers.DeviceGroup.delete(id).ajax()
			.done(function(data, txtStatus, jqXHR) {
				location.reload(true);
			})
			.fail(function(data, txtStatus, jqXHR) {
				var $alert= $("<div class='alert alert-block alert-error'><button type='button' class='close' data-dismiss='alert'>×</button><h4 class='alert-heading'>An error occurred</h4><p>"+data.responseText+"</p></div>");
				self.find(".alert_placeholder").html($alert);
			});
		});
		
		$(".btn.createmenu").click(function(el, ev) {
			$("#containerProva").webapp_menu(
				{
					"menu" :	[
								{ 
									'type' : 'text' , 
									'enable' : true , 
									'button' : { 
										'icon' : 'icon-globe' , 
									  	'label' : 'Maps' , 
									  	'uri' : '#' , 
									  	'sub' : [ 
										  			{ 'type' : 'text' , 'enable' : true , 'button' : { 'label' : 'Realtime map' , 'uri' : 'map' } } , 
										  			{ 'type' : 'text' , 'enable' : true , 'button' : { 'label' : 'Hot zones' , 'uri' : '' } } , 
										  			{ 'type' : 'divider' } , 
										  			{ 'type' : 'text' , 'enable' : true , 'button' : { 'icon' : 'icon-cog' , 'label' : 'Configure map services' , 'uri' : '' } } 
									  		    ] 
									}
								} ,
								{ 
									'type' : 'text' , 
									'enable' : true , 
									'button' : { 
										'icon' : 'icon-share' , 
									  	'label' : 'Share' , 
									  	'uri' : '#' , 
									  	'sub' : [ 
										  			{ 'type' : 'text' , 'enable' : false , 'button' : { 'label' : 'Current view' , 'uri' : '' } } , 
										  			{ 'type' : 'text' , 'enable' : false , 'button' : { 'label' : 'PDF of current view' , 'uri' : '' } } , 
										  			{ 'type' : 'divider' } , 
										  			{ 'type' : 'text' , 'enable' : false , 'button' : { 'icon' : 'icon-cog' , 'label' : 'Configure sharing services' , 'uri' : '' } } 
									  		    ] 
									}
								} ,
								{ 
									'type' : 'text' , 
									'enable' : true , 
									'button' : { 
										'icon' : 'icon-hdd' , 
									  	'label' : 'Devices' , 
									  	'uri' : '#' , 
									  	'sub' : [ 
										  			{ 'type' : 'text' , 'enable' : true , 'button' : { 'label' : 'Devices' , 'uri' : jsRoutes.controllers.Device.index().url } } , 
										  			{ 'type' : 'text' , 'enable' : true , 'button' : { 'label' : 'Device types' , 'uri' : jsRoutes.controllers.DeviceType.index().url } } , 
										  			{ 'type' : 'text' , 'enable' : true , 'button' : { 'label' : 'Device groups' , 'uri' : jsRoutes.controllers.DeviceGroup.index().url } }
									  		    ] 
									}
								} ,
								{ 
									'type' : 'text' , 
									'enable' : true , 
									'button' : { 
										'icon' : 'icon-road' , 
									  	'label' : 'Vehicles' , 
									  	'uri' : '#' , 
									  	'sub' : [ 
										  			{ 'type' : 'text' , 'enable' : true , 'button' : { 'label' : 'Vehicles' , 'uri' : jsRoutes.controllers.Vehicle.index().url } } , 
										  			{ 'type' : 'text' , 'enable' : true , 'button' : { 'label' : 'Drivers' , 'uri' : jsRoutes.controllers.Driver.index().url } } , 
										  			{ 'type' : 'text' , 'enable' : true , 'button' : { 'label' : 'Vehicles assignements' , 'uri' : jsRoutes.controllers.Simcard.index().url } }
									  		    ] 
									}
								}
							]
				}
			);
		});
	});
</script>
}

@aria.master.authenticated("Device groups", user, header_more = header_more, footer_more = footer_scripts) {

<br/>
<button class="btn createmenu" data-device-id="x">create</button>
<br/>
<div class="navbar">
	<div class="navbar navbar-static">
		<div class="navbar-inner">
			<div class="container" style="width: auto;" id="containerProva">
				<a class="brand" href="#">NoxST::CCC</a>
			</div>
		</div>
	</div>
</div>
<br/>

<div class="ana-devices groups">
	<h1>Device groups</h1>
	
	<div class="alert_placeholder"></div>

	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>Groups ID</th>
				<th>Name</th>
				<th>Display Name</th>
				<th>Description</th>
				<th>Enabled</th>
				<th width="1%"></th>
			</tr>
		</thead>
		<tbody>
		@groups.map { g =>
			<tr>
				<td>@g.id</td>
				<td>@g.name</td>
				<td>@g.displayName</td>
				<td>@g.description</td>
				<td><div class="switch">
					<input type="checkbox" @if(g.enabled){
						checked
					} disabled >
					</div>
					</td>
				<td>
				<nobr>
					<button class="btn modify" data-device-id="@g.id">Modify</button>
					<button class="btn btn-danger delete" data-device-id="@g.id">Delete</button>
				</nobr>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<button class="btn btn-primary" id="create_device">Create new device group</button>
	</div>

}