@(types: Seq[DeviceTypePersisted], user: UserTrait)


@header_more = {}

@footer_scripts = {
<script type='text/javascript'>
	steal('/assets/webapp/webapp_init.js')
	.then('/assets/webapp/devicetypes/devicetypes.js')
	.then(function() {
		$("#create_device").click(function() {
			var $el = $("<div></div>")
			$('body').append($el);
			$el.webapp_devicetypes();
		});

		$(".btn.modify").click(function(el, ev) {
			var options = {};
			options["id"] = $(this).attr("data-device-id");
			var $el = $("<div></div>");
			$('body').append($el);
			$el.webapp_devicetypes(options);
		});

		$(".btn.delete").click(function(el, ev) {
			var id = $(this).attr("data-device-id");
			jsRoutes.controllers.DeviceType.delete().ajax()
			.done(function(data, txtStatus, jqXHR) {
				location.reload(true);
			})
			.fail(function(data, txtStatus, jqXHR) {
				//var $alert= $("<div class='alert alert-block alert-error'><button type='button' class='close' data-dismiss='alert'>×</button><h4 class='alert-heading'>An error occurred</h4><p>"+data.responseText+"</p></div>");
				//self.find(".alert_placeholder").html($alert);
				alert(data.responseText);
			});
		});
	});
</script>
}

@aria.master.authenticated("Devices types", user, footer_more = footer_scripts) {
	<div class="ana-devices">
	<h1>Devices types</h1>

	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>Type ID</th>
				<th>Name</th>
				<th>Display Name</th>
				<th>Description</th>
				<th>Enabled</th>
				<th width="1%"></th>
			</tr>
		</thead>
		<tbody>
		@types.map { t =>
			<tr>
				<td>@t.id</td>
				<td>@t.name</td>
				<td>@t.displayName</td>
				<td>@t.description</td>
				<td><div class="switch">
					<input type="checkbox" @if(t.enabled){
						checked
					} disabled >
					</div>
					</td>
				<td>
				<nobr>
					<button class="btn modify" data-device-id="@t.id">Modify</button>
					<button class="btn btn-danger delete" data-device-id="@t.id">Delete</button>
				</nobr>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<button class="btn btn-primary" id="create_device">Create new device type</button>
	</div>
}