@(user: UserTrait)

@header_more = {}

@footer_scripts = {
<script type='text/javascript'>
	//steal('/assets/webapp/webapp_init.js')
	//.then('/assets/webapp/vehicleassignement/vehicleassignement.js')
	steal('/assets/javascripts/jquery-ui-1.10.3.custom.min.js')
	.then('/assets/DataTables-1.9.4/media/js/jquery.dataTables.min.js')
	.then('/assets/javascripts/DataTableBootstrap/main.js')
	.then('/assets/javascripts/DataTableBootstrap/vehicleassignement.js');
	/*.then(function() {
		var options = {};
		$("#content").webapp_vehicle_assignement(options);
	})*/;
</script>
}

@aria.master.authenticated("Vehicles Assignment", user, footer_more = footer_scripts) {
	<div class="ana-devices">
	<h1>Vehicles Assignment</h1>
	
	<div class="alert_placeholder"></div>
		
		<div id="alert-box"></div>
		
		<table class="table table-condensed table-bordered table-hover" id="vehicleassignement">
		</table>
	
	</div>
}