.webapp_table {
  table { font-size:12px; }

 .table-bordered tr th, .webapp_table .table-bordered tr td { line-height:26px; vertical-align:middle; }

 #tableChannelSettings { width:96%; margin-left:2%; }
 #tableChannelSettings .unsubscribe { width:112px; padding:3px 0px; margin:0px 5px; color:#FFFFFF; }
 .btn i { margin-right:3px; }

 #tableDevicesList { width:100%; }

 tr.noresults { display:none; } 
 tr:nth-last-child(1).noresults { display:table-row; }
 
 .label {
 	*display: inline;/* for IE7*/
    *zoom:1;/* for IE7*/
 	display:inline-block;
 	min-width:30px;
 	margin-left:auto;
 	margin-right:auto
 }

}