@(form: play.api.data.Form[(String,String)], action: String)(implicit flash: Flash)

@master.public("Login") {

<div class="hero-unit">
	<h1>NoxST :: CCC</h1>
	<p class="lead">Command and Control Centre</p>

	<form name="login" class="form-inline" action="@action" method="POST">
		
        
        
		<input type="text" name="login" placeholder="login">
		<input type="password" name="password" class="input-small" placeholder="password">
		<button type="submit" class="btn btn-primary">Log in</button>
		@flash.get("success").map { message =>
            <p class="success">
                <small>@message</small>
            </p>
        }
		@form.globalError.map { error =>
            <p class="error">
                <small>@error.message</small>
            </p>
        }
	</form>
	
</div>


}