@(title: String)(navbar: Html)(content: Html)

<!DOCTYPE html>
<!-- @@author: Giovanni Costagliola <giovanni.costagliola@@gmail.com> -->
<html lang="en">
<head>
	<title>NoxST::CCC  @title</title>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>
	<div class="navbar">
		@navbar
	</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<!--<div class="span2">
				<div class="accordion" id="accordionSB">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSB" href="#dashboardsb">
								<i class="icon-large icon-th-large head_icon"></i> Dashboard
							</a>
						</div>
						<div id="dashboardsb" class="accordion-body collapse">
							<div class="accordion-inner">
								<ul class="nav nav-list">
									<li><a href="#"><i class="icon-large icon-eye-open"></i> Dashboard</a></li>
									<li><a href="#"><i class="icon-large icon-align-left"></i> Statistics</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>-->
			<div class="span10">
				<div >
					xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx 
					@content
				</div>
			</div>
		</div>

		<footer>
			<div class="container">	
				<small>
					<strong>NoxST Security Systems</strong><br>
				
				</small>
			</div>
		</footer>
		<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
	</body>
	</html>