@(title: String, more: Html = Html(""))

<!DOCTYPE html>

<html lang="en">
<head>
	<title>@Configuration.getString("nox.ccc.page_title_prefix") @title</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">	
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")">	
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-select.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/DataTableBootstrap2.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.10.3.custom.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap-modal.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/global.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap-datetimepicker.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/personal.css")">
	<style>
    body {
    	padding-top: 40px;
    }
    </style>
	@more 
</head>
<body>
@master.menu()
